:root {
    --primary: #6B7A8F;
    /* Blueberry */
    --accent: #F7C331;
    /* Citrus */
    --secondary: #F7882F;
    /* Apricot */
    --bg-light: #fbf9f6;
    --white: #ffffff;
    --border-color: #DCC7AA;
    /* Apple Core */
}

.common-btn {
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.3s ease;
    width: 100%;
    font-size: 1rem;
}

.btn-primary,
.btn-secondary,
.btn-accent {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    cursor: pointer;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-accent:hover {
    background-color: #566475;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(107, 122, 143, 0.2);
}


.common-input-group {
    margin-bottom: 1.25rem;
    width: 100%;
}

.common-input-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: var(--secondary);
    font-size: 0.9rem;
}

.common-input {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    background-color: #f8fafc;
    transition: all 0.3s ease;
    font-size: 1rem;
}

.common-input:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 3px rgba(107, 122, 143, 0.1);
}